footer {
    position: relative;
    width: 100%;
    margin-top: 100px;
    background-size: cover;
    background-image: url('https://abrakadabra.fun/uploads/posts/2022-01/thumbs/1641897943_7-abrakadabra-fun-p-uzbekskie-uzori-i-ornamenti-11.jpg');
}
.footer_layout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.797);
}
.contact .page_title{
    margin-bottom: 10px;
}
.contact{
    display:flex;
    align-items:flex-start;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    z-index: 100;
    position: relative;
}
.contact-mid{
    display: flex;
    flex-direction: column;
}
.contact_line{
    background-color: white;
    width: 150px;
    height: 3px;
    margin-bottom: 10px;
}
.contact-mid a{
    color: white;
    transition: linear all .3s;
    font-weight: 600;
    font-size: 1.1rem;
}
.contact-mid a:hover{
    text-decoration: underline;
}
.contact-phone{
    display: flex;
    flex-direction: row;
    margin-left: -20px;
}
.contact-phone li{
    margin-left: 20px;
}
.contact-address{
    margin-right: 30px;
    margin-top: 50px;
}
.contact-title{
    font-size: 1.5rem;
}

.contact-subtitle{
    margin-top: 10px;
}
.contact-address a{
    color: #9b5d46;
    font-weight: 500;
    margin-top: 5px;
    font-size: 1.1rem;
    transition: linear all .3s;
}
.contact-address a:hover{
    text-decoration: underline;
}
.footer_copyright{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    z-index: 2;
    position: relative;
}
.footer_copyright h2{
    font-weight: 500;
    font-size: 1rem;
}
.footer_copyright a{
    color: white;
    text-decoration: underline;
}
@media(max-width: 992px){
    .contact{
        flex-direction: column;
        padding-left: 20px;
    }
}
@media(max-width:768px){
    .footer_copyright{
        flex-direction: column;
    }
    .footer_copyright h2:nth-child(2){
        margin-top: 20px;
        text-align: center;
    }
}
@media(max-width:576px){
    .contact-phone{
        flex-wrap: wrap;
        margin-top: -10px;
    }
    .contact-phone li{
        margin-top: 10px;
    }
}