footer {
    width: 100%;
    margin-top: 100px;
    display: flex;
    padding-top: 70px;
    flex-direction: column;
    align-items: center;
    background-color: #2B161B;
}
.footer_logo{
    width: 300px;
    height: 150px;
}
.footer_copyright{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.footer_copyright h2{
    font-weight: 500;
    font-size: 1rem;
}
.footer_copyright a{
    color: white;
    text-decoration: underline;
}
.footer_navigation{
    margin-left: -20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_navigation li{
    margin-left: 20px;
}
.footer_navigation li a{
    color: white;
    transition: linear all .2s;
}
.footer_navigation li a:hover{
    color: #EF4D48;
    text-decoration: underline;
}
.footer_media{
    margin-left: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer_media svg{
    margin-left: 20px;
    color: white;
    font-size: 2rem;
    transition: linear all;
}
.footer_media svg:hover{
    transform: scale(1.1);
    color: #EF4D48;
}
.footer_contacts{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width:700px;
    justify-content: space-between;
    margin-bottom: 100px;
}
.footer_numbers{
    display: flex;
    flex-direction: column;
}
.footer_numbers a{
    color: white;
}
.footer_adress{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
@media(max-width:768px){
    .footer_contacts{
        flex-direction: column;
    }
    .footer_media{
        margin-top: 30px;
    }
    .footer_adress{
        margin-top: 30px;
        text-align: center;
        width: 90%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .footer_navigation{
        flex-direction: column;
        margin-left: 0;
    }
    .footer_navigation li{
        margin-left: 0;
        font-size: 1.1rem;
        margin-top: 10px;
    }
}